<div id="<%= dom_id account %>">
  <p>
    <strong>Type of account:</strong>
    <%= account.type_of_account %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= account.balance %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= account.customer_id %>
  </p>

</div>
